@tailwind base;
@tailwind components;
@tailwind utilities;

.htmx-indicator {
  display: none;
}

.htmx-request .loading-spinner {
  display: inline-block;
}

.htmx-request.loading-spinner {
  display: inline-block;
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}